body {
    background-color: black;
    color: white;
    font-family: helvetica;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid white;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 12px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

footer {
    margin-top: 20px;
    padding: 20px;
    border-top: 1px solid white;
}